body{
    margin: 0;
    background-color: whitesmoke;
}
header{
    background-color: #444444;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5vh;
}
.font{
    color: azure;
}
.input-bouton{
    border-radius: 15px;
    background-color: azure;
    color: black;
    padding: 1vh 1vw;
    border: 2px solid azure;
    font-size: 18px;
    cursor: pointer;
}
.input-bouton:hover{
    background-color: rgb(178, 189, 189);
}
.input-ajouter{
    background-color: rgb(4, 192, 129);
    color: azure;
    border-color: rgb(4, 192, 129);
}
.input-ajouter:hover{
    background-color: azure;
    color: rgb(4, 192, 129);
    border-color: rgb(4, 192, 129);
}
.input-modifier{
    background-color: rgb(4, 132, 192);
    color: azure;
    border-color: rgb(4, 132, 192);
}
.input-modifier:hover{
    background-color: azure;
    color: rgb(4, 132, 192);
    border-color: rgb(4, 132, 192);
}
.input-effacer{
    background-color: rgb(216, 13, 13);
    color: azure;
    border-color: rgb(216, 13, 13);
}
.input-effacer:hover{
    background-color: azure;
    color: rgb(216, 13, 13);
    border-color: rgb(216, 13, 13);
}
.liste{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.bouton-aerer{
    display: flex;
    justify-content: center;
    margin: 2vh 1vw;
}
.form-presentation{
    margin: 1vh 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-presentation > label, .selection > h2{
    padding-right: 5px;
}

.cadre{
    margin: 2vh 2vw;
    padding: 6vh 1vw 0 1vw;
    background-color: silver;
}
.centrer-liste{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}
.cadre-personnage{
    background: url(../Image/Fond-parchemin.jpg);
    width: 50vw;
}
.avatar{
    display: flex;
    justify-content: center;
}
.coeur{
    width: 2vw;
    padding-right: 5px;
}

.info-personnage{
    display: flex;
    align-items: center;
    font-size: 18px;
}
.fiche-personnage{
    display: flex;
    justify-content: space-evenly;
    margin: 1vw 1vh;
}

svg{
    border: 7px solid #ddd;
    border-radius: 15px;
    background-color: whitesmoke;
}
.description-personnage{
    display: flex;
    flex-direction: column;
}
.point-personnage{
    display: flex;
    justify-content: space-evenly;
}
.selection{
    display: flex;
    align-items: center;
    margin: 1vh 1vw;
}