{% extends 'base.html.twig' %}

{% block title %}Modifier type{% endblock %}

{% block header %}
    <h1 class="font">Modifier un type</h1>
    <input type="button" class="input-bouton" value="Annuler" onclick="window.location.href='{{path('Type')}}';">
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="liste">
    <div class="cadre">
        {{ form_start(form) }}
            <div class="form-presentation">
                <label for="">Nom : </label>
                    {{ form_widget(form.nom) }}
            </div>
            <div class="bouton-aerer">
                <button type="submit" class="input-bouton input-body">Modifier</button>
            <div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}