{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block javascripts %}
    <script src="AvataaarsJS-main/avataaars.js"></script>
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div>
    <input type="button" value="Voir les types" onclick="window.location.href='{{path('Type')}}';">
    <input type="button" value="Voir les types" onclick="window.location.href='{{path('AddPersonnage')}}';">
    {% for personnage in personnages %}
        <h2>{{personnage.nom}}</h2>
        <input type="button" value="Plus d'info" onclick="window.location.href='character/{{personnage.id}}';">
    {% endfor %}
</div>
{% endblock %}